/* Set theme variables here */
/*
Font samples
font-family:'Proxima Nova W08 Reg';
font-family:'Proxima Nova W08 Reg It';
font-family:'Proxima Nova W08 Bd';
font-family:'Proxima Nova W08 Bd It';
*/
/* This mixin is meant to help enable/disable OpenType features in your web pages with web fonts that support them */
/*
OpenType Features Key
@mixin otfeatures($c2sc: 0, $calt: 0, $clig: 0, $dlig: 0, $frac: 0, $hist: 0, $hlig: 0, $kern: 0, $liga: 0, $nalt: 0, $salt: 0, $ss01: 0, $ss02: 0, $ss03: 0, $ss04: 0, $ss05: 0, $swsh: 0, $zero: 0)

"c2sc" : small caps from caps 
"calt" : contextual alternates 
"clig" : contextual ligatures 
"dlig" : discretionary ligatures 
"hist" : historical character alternatives 
"hlig" : historical ligatures 
"kern" : enable use of embedded kerning table 
"liga" : common ligatures 
"nalt" : alternate annotation 
"salt" : stylistic alternatives 
"smcp" : small caps 
"ss01" : alternate stylistic set 1 
"ss02" : alternate stylistic set 2  
"ss03" : alternate stylistic set 3 
"ss04" : alternate stylistic set 4 
"ss05" : alternate stylistic set 5 
"swsh" : swashes 
"zero" : slashed-zero 

*/
/******** LAYOUT *********/
/* styles for main page sections */
/* line 10, ../sass/_layout.scss */
.content {
  *position: relative;
  *zoom: 1;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
}
/* line 46, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.content:before, .content:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.content:after {
  clear: both;
}

/* line 18, ../sass/_layout.scss */
header {
  clear: left;
}

/* line 23, ../sass/_layout.scss */
.siteinfo {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 28, ../sass/_layout.scss */
.header-region {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 33, ../sass/_layout.scss */
.page > nav {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 38, ../sass/_layout.scss */
.page > footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-top: .5em;
  padding-bottom: .5em;
}

/* Phone horizontal / small tablet view */
@media (min-width: 400px) {
  /* line 49, ../sass/_layout.scss */
  .content {
    width: 98%;
    max-width: 98%;
    padding: 0;
  }
}
/*/mediaquery*/
/* Larger tablet view */
@media (min-width: 740px) {
  /* line 62, ../sass/_layout.scss */
  .content {
    width: 94%;
    max-width: 94%;
  }
}
/*/mediaquery*/
/* Main desktop view */
@media (min-width: 900px) {
  /* line 74, ../sass/_layout.scss */
  .content {
    width: 90%;
    max-width: 64em;
  }
}
/*/mediaquery*/
/******* /LAYOUT *********/
/******** HELPERS ********/
/* apply a natural box layout model to all elements */
/* line 9, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* end update for semantics */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 175, ../sass/h5bp_main.scss */
/* line 32, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../sass/h5bp_main.scss */
/* line 40, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 189, ../sass/h5bp_main.scss */
/* line 49, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* useful resets from HTML5 BoilerPlate */
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/h5bp_main.scss */
/* line 59, ../sass/screen.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/h5bp_main.scss */
/* line 67, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/h5bp_main.scss */
/* line 77, ../sass/screen.scss */
textarea {
  resize: vertical;
}

/******* /HELPERS ********/
/******** DESIGN *********/
/* styles for overall design */
/* line 86, ../sass/screen.scss */
.orange {
  color: #ff8454;
}

/* line 90, ../sass/screen.scss */
.white {
  color: #fff;
}

/* line 94, ../sass/screen.scss */
.turquoise {
  color: #3dc5ae;
}

/* line 98, ../sass/screen.scss */
.strong {
  font-family: "Proxima Nova W08 Bd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}

/* line 103, ../sass/screen.scss */
.page {
  background: #f5f4f4 url(../images/background_1x.png);
}

/******* /DESIGN *********/
/******** MODULE *********/
/* styles for modular content sections, including alternate states */
/*****  HEADER Styles *****/
/* line 116, ../sass/screen.scss */
body.nav-open {
  background-color: #00a79e;
  background-image: none;
}

/* line 121, ../sass/screen.scss */
.page {
  position: relative;
  -webkit-transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  -webkit-transition-delay: 0, 0;
  -moz-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
  -o-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
  transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
}

/* line 126, ../sass/screen.scss */
.page > header {
  padding: 2em 0;
}

/* line 130, ../sass/screen.scss */
.fliparoo {
  width: 50%;
  float: left;
  background-image: url(../images/fliparoo.png);
  background-image: url(../images/fliparoo.svg), none;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 400px) {
  /* line 130, ../sass/screen.scss */
  .fliparoo {
    width: 50%;
    margin-bottom: 1em;
  }
}
@media (min-width: 740px) {
  /* line 130, ../sass/screen.scss */
  .fliparoo {
    width: 20.83333%;
  }
}
@media (min-width: 900px) {
  /* line 130, ../sass/screen.scss */
  .fliparoo {
    width: 20.83333%;
  }
}

/* Off-Canvas CSS */
/* line 150, ../sass/screen.scss */
#nav-toggle a {
  float: right;
  text-align: left;
  background-color: #00a79e;
  color: #fff;
  padding: .5em;
  margin: 0;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  line-height: 1.5em;
  font-size: 0.75em;
  display: block;
  width: 6.25em;
  text-decoration: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 167, ../sass/screen.scss */
#nav-toggle a .icon {
  font-size: 1.25em;
  display: inline;
  line-height: 1em;
  width: 1.5em;
  margin-left: 0.5em;
}

/* line 174, ../sass/screen.scss */
#nav-toggle a:link, #nav-toggle a:visited {
  color: #fff;
}

@media (min-width: 400px) {
  /* line 178, ../sass/screen.scss */
  #nav-toggle a {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -999em;
  }
}
/* line 186, ../sass/screen.scss */
.nav-open .page {
  right: 85%;
  margin-left: -85;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 400px) {
  /* line 193, ../sass/screen.scss */
  .nav-open .page {
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 199, ../sass/screen.scss */
.js-toggle-dropdown {
  background-color: white;
  color: #eee;
  width: 2em;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 0.6em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  z-index: 99;
}

/* line 216, ../sass/screen.scss */
.nav-dropdown-expanded .js-toggle-dropdown {
  color: #fff;
}

/* line 219, ../sass/screen.scss */
.js-toggle-dropdown .icon {
  line-height: 1.5em;
  height: 1em;
}

@media (min-width: 400px) {
  /* line 224, ../sass/screen.scss */
  .js-toggle-dropdown {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -999em;
  }
}
/* line 232, ../sass/screen.scss */
.main.menu {
  clear: both;
  overflow: hidden;
  width: 85%;
  position: absolute;
  top: 0;
  right: -185%;
  display: none;
  -webkit-transition: right 0.5s ease-in-out, height 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out, height 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: right 0.5s ease-in-out, height 0.5s ease-in-out;
}

/* line 242, ../sass/screen.scss */
.main.menu.open {
  right: -105%;
  height: 100%;
  padding-top: 1em;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 400px) {
  /* line 250, ../sass/screen.scss */
  .main.menu {
    clear: none;
    height: auto;
    overflow: visible;
    position: relative;
    width: 100%;
    right: auto;
    display: block;
  }
}
/* END Off-Canvas CSS */
/* line 265, ../sass/screen.scss */
.menu.main {
  position: relative;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
@media (min-width: 400px) {
  /* line 265, ../sass/screen.scss */
  .menu.main {
    float: right;
    text-align: right;
    width: 100%;
  }
}
@media (min-width: 740px) {
  /* line 265, ../sass/screen.scss */
  .menu.main {
    width: 66.66667%;
  }
}
/* line 281, ../sass/screen.scss */
.menu.main li {
  list-style: none;
  list-style-image: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (min-width: 400px) {
  /* line 281, ../sass/screen.scss */
  .menu.main li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}
/* line 293, ../sass/screen.scss */
.menu.main li ul {
  display: none;
}
@media (min-width: 400px) {
  /* line 293, ../sass/screen.scss */
  .menu.main li ul {
    display: none;
  }
}
/* line 300, ../sass/screen.scss */
.menu.main li.nav-dropdown-expanded ul {
  display: block;
}
/* line 304, ../sass/screen.scss */
.menu.main a {
  font-family: "Proxima Nova W08 Bd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  display: block;
  padding: 0.5em 1em;
}
/* line 309, ../sass/screen.scss */
.menu.main a:link, .menu.main a:visited {
  color: #fff;
}
@media (min-width: 400px) {
  /* line 309, ../sass/screen.scss */
  .menu.main a:link, .menu.main a:visited {
    color: #ff8454;
  }
}
@media (min-width: 400px) {
  /* line 315, ../sass/screen.scss */
  .menu.main a:hover, .menu.main a:active {
    color: #ffa987;
    text-decoration: underline;
    background-color: transparent;
  }
}
@media (min-width: 400px) {
  /* line 322, ../sass/screen.scss */
  .menu.main a.download {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
  }
}
@media (min-width: 400px) {
  /* line 326, ../sass/screen.scss */
  .menu.main a.download:link, .menu.main a.download:visited {
    color: #fff;
    background-color: #ff8454;
  }
}
@media (min-width: 400px) {
  /* line 332, ../sass/screen.scss */
  .menu.main a.download:hover, .menu.main a.download:active {
    background-color: #ffa987;
    text-decoration: none;
  }
}

/***** /HEADER Styles *****/
/*****  SECTION-ONE Styles *****/
/* line 345, ../sass/screen.scss */
.section-one {
  background-color: transparent;
}
/* line 347, ../sass/screen.scss */
.section-one h1 {
  margin-bottom: 0.5em;
}
@media (min-width: 400px) {
  /* line 347, ../sass/screen.scss */
  .section-one h1 {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 740px) {
  /* line 347, ../sass/screen.scss */
  .section-one h1 {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 347, ../sass/screen.scss */
  .section-one h1 {
    padding: 0.5em 0 1.5em 0;
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 363, ../sass/screen.scss */
.section-one .demo-intro {
  clear: left;
}
@media (min-width: 400px) {
  /* line 363, ../sass/screen.scss */
  .section-one .demo-intro {
    clear: left;
  }
}
@media (min-width: 740px) {
  /* line 363, ../sass/screen.scss */
  .section-one .demo-intro {
    clear: left;
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: -91.66667%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 363, ../sass/screen.scss */
  .section-one .demo-intro {
    clear: left;
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: -91.66667%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}

/* line 378, ../sass/screen.scss */
.intro-copy {
  background-color: #eaeaea;
  border-left: solid 10px #e2e2e2;
  border-right: solid 10px #e2e2e2;
  border-bottom: solid 10px #e2e2e2;
  padding: 1em;
  clear: left;
}
@media (min-width: 400px) {
  /* line 378, ../sass/screen.scss */
  .intro-copy {
    padding: 2em;
  }
}
/* line 388, ../sass/screen.scss */
.intro-copy p {
  text-align: center;
}
@media (min-width: 900px) {
  /* line 388, ../sass/screen.scss */
  .intro-copy p {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 395, ../sass/screen.scss */
.intro-copy .links {
  clear: left;
}

/* line 399, ../sass/screen.scss */
.code-sample {
  margin-top: 3em;
  margin-bottom: -6em;
  font-size: 0.75em;
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media (min-width: 400px) {
  /* line 399, ../sass/screen.scss */
  .code-sample {
    font-size: 1em;
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 740px) {
  /* line 399, ../sass/screen.scss */
  .code-sample {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 399, ../sass/screen.scss */
  .code-sample {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 418, ../sass/screen.scss */
.code-sample pre {
  border: solid 8px #00a79e;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/***** /SECTION-ONE Styles *****/
/*****  SECTION-TWO Styles *****/
/* line 427, ../sass/screen.scss */
.section-two {
  background-color: #00a79e;
  color: #fff;
  padding-top: 6em;
}
/* line 431, ../sass/screen.scss */
.section-two h2 {
  color: #fff;
  clear: left;
}
@media (min-width: 400px) {
  /* line 431, ../sass/screen.scss */
  .section-two h2 {
    clear: left;
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: -91.66667%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 740px) {
  /* line 431, ../sass/screen.scss */
  .section-two h2 {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 431, ../sass/screen.scss */
  .section-two h2 {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -83.33333%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 447, ../sass/screen.scss */
.section-two .tab-set {
  margin-bottom: 3em;
  padding: 0;
  font-size: 0.75em;
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
@media (min-width: 740px) {
  /* line 447, ../sass/screen.scss */
  .section-two .tab-set {
    font-size: 1em;
    clear: left;
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: -91.66667%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 459, ../sass/screen.scss */
.section-two .tab-links {
  list-style: none;
  list-style-image: none;
  text-align: center;
  margin: 0 0 -5px 0;
  padding: 0;
}
/* line 465, ../sass/screen.scss */
.section-two .tab-links li {
  width: 32.5%;
  list-style: none;
  list-style-image: none;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@media (min-width: 740px) {
  /* line 465, ../sass/screen.scss */
  .section-two .tab-links li {
    width: 20.83333%;
  }
}
/* line 477, ../sass/screen.scss */
.section-two .tab-links a {
  color: #3dc5ae;
  display: block;
}
/* line 480, ../sass/screen.scss */
.section-two .tab-links a:link, .section-two .tab-links a:visited {
  color: #3dc5ae;
}
/* line 483, ../sass/screen.scss */
.section-two .tab-links a:hover, .section-two .tab-links a:active {
  color: #fff;
  background-color: transparent;
}
/* line 487, ../sass/screen.scss */
.section-two .tab-links a.active {
  color: #fff;
  font-family: "Proxima Nova W08 Bd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: transparent;
  outline: 0;
}
/* line 494, ../sass/screen.scss */
.section-two .tab-links .number {
  color: #00a79e;
  background-color: #3dc5ae;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  padding: 0.35em 0.75em;
  margin-bottom: 0.25em;
  display: inline-block;
}
/* line 504, ../sass/screen.scss */
.section-two .tab-links .active .number,
.section-two .tab-links a:hover .number {
  background-color: #fff;
}
/* line 507, ../sass/screen.scss */
.section-two .tab-links .tab-arrow {
  width: 0;
  height: 0;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  margin: 1em auto 0 auto;
}
/* line 516, ../sass/screen.scss */
.section-two .tab-links .active .tab-arrow {
  border-bottom-color: #3dc5ae;
}
/* line 520, ../sass/screen.scss */
.section-two .tabs {
  padding: 1em 2em;
  border: solid 10px #3dc5ae;
  display: none;
}
/* line 524, ../sass/screen.scss */
.section-two .tabs p {
  clear: left;
  padding-top: 1em;
  line-height: 1.5em;
  display: block;
}
@media (min-width: 740px) {
  /* line 524, ../sass/screen.scss */
  .section-two .tabs p {
    clear: none;
    padding-left: 8.33333%;
  }
}
/* line 534, ../sass/screen.scss */
.section-two .tabs.active {
  display: table;
}
/* line 538, ../sass/screen.scss */
.section-two .tabicon {
  width: 50%;
  margin-left: 25%;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  vertical-align: middle;
}
@media (min-width: 740px) {
  /* line 538, ../sass/screen.scss */
  .section-two .tabicon {
    display: table-cell;
    width: 16.66667%;
  }
}
/* line 559, ../sass/screen.scss */
.section-two .tab1icon {
  background-image: url(../images/tab_icon1.png);
  background-image: url(../images/tab_icon1.svg), none;
}
/* line 564, ../sass/screen.scss */
.section-two .tab2icon {
  background-image: url(../images/tab_icon2.png);
  background-image: url(../images/tab_icon2.svg), none;
}
/* line 568, ../sass/screen.scss */
.section-two .tab3icon {
  background-image: url(../images/tab_icon3.png);
  background-image: url(../images/tab_icon3.svg), none;
}

/***** /SECTION-TWO Styles *****/
/*****  SECTION-THREE Styles *****/
/* line 578, ../sass/screen.scss */
.section-three {
  background-color: transparent;
  position: relative;
}
/* line 581, ../sass/screen.scss */
.section-three h3 {
  color: #00a79e;
}

/* line 585, ../sass/screen.scss */
.half {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 4em;
  position: relative;
  height: 100%;
}
@media (min-width: 740px) {
  /* line 585, ../sass/screen.scss */
  .half {
    width: 50%;
  }
  /* line 593, ../sass/screen.scss */
  .half.left {
    padding-right: 1.5em;
    float: left;
  }
  /* line 597, ../sass/screen.scss */
  .half.right {
    padding-left: 1.5em;
    float: right;
  }
}
/* line 602, ../sass/screen.scss */
.half ul {
  background-color: #fff;
  border: solid 10px #eaeaea;
  min-height: 10em;
  padding: 1em 2em;
}

/***** /SECTION-THREE Styles *****/
/*****  SECTION-FOUR Styles *****/
/* line 612, ../sass/screen.scss */
.section-four {
  background-color: #eaeaea;
}
/* line 614, ../sass/screen.scss */
.section-four .section-title {
  border-bottom: solid 2px #e2e2e2;
}
/* line 617, ../sass/screen.scss */
.section-four .usage-notes-menu {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -999em;
}
@media (min-width: 400px) {
  /* line 617, ../sass/screen.scss */
  .section-four .usage-notes-menu {
    display: block;
    visibility: visible;
    position: relative;
    left: auto;
    float: left;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 400px) {
  /* line 617, ../sass/screen.scss */
  .section-four .usage-notes-menu {
    float: left;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  /* line 633, ../sass/screen.scss */
  .section-four .usage-notes-menu.stuck {
    position: fixed;
    top: 1em;
  }
}
@media (min-width: 740px) {
  /* line 617, ../sass/screen.scss */
  .section-four .usage-notes-menu {
    float: left;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 617, ../sass/screen.scss */
  .section-four .usage-notes-menu {
    float: left;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 648, ../sass/screen.scss */
.section-four .sticky-wrapper {
  float: left;
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("../htc/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}
/* line 651, ../sass/screen.scss */
.section-four .sticky-wrapper .usage-notes-menu {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (min-width: 400px) {
  /* line 655, ../sass/screen.scss */
  .section-four .sticky-wrapper .usage-notes-menu.stuck {
    width: 16.66667%;
  }
}
@media (min-width: 740px) {
  /* line 655, ../sass/screen.scss */
  .section-four .sticky-wrapper .usage-notes-menu.stuck {
    width: 20.83333%;
  }
}
@media (min-width: 900px) {
  /* line 655, ../sass/screen.scss */
  .section-four .sticky-wrapper .usage-notes-menu.stuck {
    width: 18.75%;
  }
}
@media (min-width: 1100px) {
  /* line 655, ../sass/screen.scss */
  .section-four .sticky-wrapper .usage-notes-menu.stuck {
    width: 16.66667%;
  }
}
/* line 672, ../sass/screen.scss */
.section-four .active {
  background-color: orange;
}
/* line 675, ../sass/screen.scss */
.section-four .usage-notes {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 680, ../sass/screen.scss */
.section-four .usage-notes li {
  list-style: none;
  list-style-image: none;
}
/* line 684, ../sass/screen.scss */
.section-four .usage-notes a:link, .section-four .usage-notes a:visited {
  padding: 0.5em 1em;
  -webkit-border-radius: 0 2em 2em 0;
  -moz-border-radius: 0 2em 2em 0;
  -ms-border-radius: 0 2em 2em 0;
  -o-border-radius: 0 2em 2em 0;
  border-radius: 0 2em 2em 0;
  display: block;
}
/* line 689, ../sass/screen.scss */
.section-four .usage-notes a:hover, .section-four .usage-notes a:active, .section-four .usage-notes a:focus, .section-four .usage-notes .current a {
  text-decoration: none;
  color: #fff;
  background-color: #94d574;
}
@media (min-width: 400px) {
  /* line 695, ../sass/screen.scss */
  .section-four .how-it-works {
    float: left;
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 740px) {
  /* line 695, ../sass/screen.scss */
  .section-four .how-it-works {
    float: left;
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media (min-width: 900px) {
  /* line 695, ../sass/screen.scss */
  .section-four .how-it-works {
    float: left;
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("../htc/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 708, ../sass/screen.scss */
.section-four .how-it-works > h2:first-child {
  margin-top: 0;
}
/* line 711, ../sass/screen.scss */
.section-four .how-it-works h2, .section-four .how-it-works h3, .section-four .how-it-works h4 {
  text-align: left;
}
/* line 714, ../sass/screen.scss */
.section-four .how-it-works h2 {
  font-size: 2em;
  font-family: "Proxima Nova W08 Reg", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
}
/* line 719, ../sass/screen.scss */
.section-four .how-it-works h3 {
  font-size: 1.3125em;
}

/***** /SECTION-FOUR Styles *****/
/*****  FOOTER Styles *****/
/* line 728, ../sass/screen.scss */
.page > footer {
  background-color: #ff8454;
  padding: 0;
  clear: left;
}
/* line 732, ../sass/screen.scss */
.page > footer h2 {
  color: #fff;
  margin-bottom: 0;
}

/* line 737, ../sass/screen.scss */
.footer-row2 {
  background-color: #ea6b48;
  padding-top: 2em;
  padding-bottom: 1em;
}

/* line 742, ../sass/screen.scss */
.lullabot {
  width: 50%;
  background-image: url(../images/lullabot.png);
  background-image: url(../images/lullabot.svg), none;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (min-width: 400px) {
  /* line 742, ../sass/screen.scss */
  .lullabot {
    width: 16.66667%;
    margin: 0 0 0 -0.5em;
  }
}
/* line 753, ../sass/screen.scss */
.lullabot a {
  display: block;
}
/* line 755, ../sass/screen.scss */
.lullabot a:hover {
  background-color: transparent;
}

/* line 760, ../sass/screen.scss */
.tagline {
  color: #fff;
  text-align: center;
}
@media (min-width: 400px) {
  /* line 760, ../sass/screen.scss */
  .tagline {
    text-align: left;
  }
}

/* line 768, ../sass/screen.scss */
.footer-menu {
  margin: 0.5em auto;
}
@media (min-width: 400px) {
  /* line 768, ../sass/screen.scss */
  .footer-menu {
    float: right;
    margin: 0;
  }
}
/* line 774, ../sass/screen.scss */
.footer-menu ul {
  list-style: none;
  list-style-image: none;
  text-align: center;
  padding: 0;
}
/* line 779, ../sass/screen.scss */
.footer-menu ul li {
  list-style: none;
  list-style-image: none;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 788, ../sass/screen.scss */
.footer-menu a:link, .footer-menu a:visited {
  color: #fff;
  display: block;
  padding: 0.25em 0.75em;
}
/* line 793, ../sass/screen.scss */
.footer-menu a:hover, .footer-menu a:active {
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
}

/***** /FOOTER Styles *****/
/*****  CODE SAMPLE Styles *****/
/* line 803, ../sass/screen.scss */
pre {
  background-color: #fff;
  color: #656565;
  padding: 1.5em;
  border: solid 3px #e2e2e2;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/***** /CODE SAMPLE Styles *****/
/* line 813, ../sass/screen.scss */
.links {
  margin: 1em auto;
  text-align: center;
  padding: 0;
}
/* line 819, ../sass/screen.scss */
.links li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
}
/* line 825, ../sass/screen.scss */
.links a {
  display: block;
  padding: 0.25em 0.65em;
  background-color: #ff8454;
  color: #fff;
  line-height: 2em;
  font-family: "Proxima Nova W08 Bd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: -5px;
  border-top: solid 7px #e2e2e2;
  border-bottom: solid 7px #e2e2e2;
  font-size: 0.75em;
}
@media (min-width: 740px) {
  /* line 825, ../sass/screen.scss */
  .links a {
    padding: 0.5em 1.25em;
    border-top: solid 10px #e2e2e2;
    border-bottom: solid 10px #e2e2e2;
    font-size: 1em;
  }
}
/* line 842, ../sass/screen.scss */
.links a:link, .links a:visited {
  color: #fff;
}
/* line 846, ../sass/screen.scss */
.links a:hover {
  background-color: #ffa987;
}
/* line 849, ../sass/screen.scss */
.links a .icon {
  color: #ea6b48;
  display: block;
  margin: 0 auto;
  font-size: 1.5em;
}
@media (min-width: 400px) {
  /* line 849, ../sass/screen.scss */
  .links a .icon {
    display: inline;
    margin: 0 0.5em 0 0;
    line-height: 0.5em;
  }
}
/* line 861, ../sass/screen.scss */
.links a.download {
  background-color: #3dc5ae;
  border-left: 7px solid #e2e2e2;
  -webkit-border-radius: 3em 0 0 3em;
  -moz-border-radius: 3em 0 0 3em;
  -ms-border-radius: 3em 0 0 3em;
  -o-border-radius: 3em 0 0 3em;
  border-radius: 3em 0 0 3em;
}
@media (min-width: 740px) {
  /* line 861, ../sass/screen.scss */
  .links a.download {
    border-left: solid 10px #e2e2e2;
  }
}
/* line 868, ../sass/screen.scss */
.links a.download:hover {
  background-color: #64d1be;
}
/* line 871, ../sass/screen.scss */
.links a.download .icon {
  color: #00a79e;
}
@media (min-width: 400px) {
  /* line 871, ../sass/screen.scss */
  .links a.download .icon {
    margin-right: 0.5em;
    margin-bottom: -0.5em;
  }
}
/* line 879, ../sass/screen.scss */
.links a.github {
  background-color: #94d574;
  border-right: 7px solid #e2e2e2;
  -webkit-border-radius: 0 3em 3em 0;
  -moz-border-radius: 0 3em 3em 0;
  -ms-border-radius: 0 3em 3em 0;
  -o-border-radius: 0 3em 3em 0;
  border-radius: 0 3em 3em 0;
}
@media (min-width: 740px) {
  /* line 879, ../sass/screen.scss */
  .links a.github {
    border-right: solid 10px #e2e2e2;
  }
}
/* line 886, ../sass/screen.scss */
.links a.github:hover {
  background-color: #b2e19b;
}
/* line 889, ../sass/screen.scss */
.links a.github .icon {
  color: #7eb861;
}
@media (min-width: 400px) {
  /* line 889, ../sass/screen.scss */
  .links a.github .icon {
    margin-right: 0.5em;
  }
}
/* line 898, ../sass/screen.scss */
body > footer .links a, body > footer .links a.github, body > footer .links a.download {
  border-color: #ea6b48;
}
/* line 902, ../sass/screen.scss */
body > footer .links {
  margin-top: 0;
  margin-bottom: 3em;
}

/* Fliparoo styles */
/* line 910, ../sass/screen.scss */
.fliparoo-display-container {
  -webkit-transform-style: preserve-3d;
  /* Safari and Chrome */
  transform-style: preserve-3d;
  position: relative;
}

/* line 916, ../sass/screen.scss */
.fliparoo-display {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* line 928, ../sass/screen.scss */
.fliparoo-front {
  z-index: 2;
  position: relative;
}

/* line 933, ../sass/screen.scss */
.fliparoo-back {
  z-index: 0;
  position: absolute;
}

/* line 938, ../sass/screen.scss */
.fliparoo-animating {
  z-index: 100;
}

/*
 * Convenience style to hide queue
 */
/* line 945, ../sass/screen.scss */
.fliparoo-queue {
  display: none;
}

/* examples styles */
/* line 953, ../sass/screen.scss */
.example .display {
  color: grey;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 959, ../sass/screen.scss */
.example .display li {
  display: block;
  float: left;
  width: 50%;
  min-width: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 400px) {
  /* line 959, ../sass/screen.scss */
  .example .display li {
    width: 25%;
    min-width: 25%;
  }
}
/* line 974, ../sass/screen.scss */
.example .hidden {
  display: none;
}
/* line 977, ../sass/screen.scss */
.example pre {
  white-space: pre-wrap;
  clear: both;
}
/* line 981, ../sass/screen.scss */
.example .fliparoo-display {
  background-color: #fff;
}

/* line 988, ../sass/screen.scss */
.single li {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}
/* line 993, ../sass/screen.scss */
.single li .fliparoo-display {
  color: #fff;
  background-color: #666;
  border: 2px #CCC solid;
  box-sizing: border-box;
}

/******* /MODULE *********/
/* Make sure this is last - helps correct for an orientation scale bug in iOS */
@media screen and (orientation: landscape) and (device-width: 320px) and (device-height: 480px) {
  /* line 1009, ../sass/screen.scss */
  body {
    width: 480px;
  }
}
/*/mediaquery*/
