


/******** LAYOUT *********/
/* styles for main page sections */

$zen-column-count: 6;
$zen-gutter-width: 1.5em;

.content {
	@include zen-grid-container; 
	max-width: 100%; 
	margin: 0 auto;
}

header {
	@include zen-clear(); // Apply this mixin to start a new row. 
	//padding-top: 1em;
}

.siteinfo {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(6, 1); 
}

.header-region {
		@include zen-clear();
		@include zen-grid-item(6, 1); 
}

.page > nav {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(6, 1); 
}

.page > footer {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(6, 1); 
	padding-top: .5em;
	padding-bottom: .5em;
}


/* Phone horizontal / small tablet view */
@include breakpoint($mq-break-phone_wide-sm_tab) {
	$zen-column-count: 8;
	$zen-gutter-width: 1.5em;

	.content {
		width: 98%;
		max-width: 98%; 
	}

	.utility-bar {
		@include zen-clear(); // Apply this mixin to start a new row. 
		@include zen-grid-item(8, 1); 
	}
	
	.siteinfo {
			@include zen-clear();
			@include zen-grid-item(8, 1); 
	}
	.header-region {
			@include zen-clear();
			@include zen-grid-item(8, 1); 
	}

	.page > nav {
		@include zen-clear(); // Apply this mixin to start a new row. 
		@include zen-grid-item(8, 1); 
	}
	

}/*/mediaquery*/

/* Larger tablet view */
@include breakpoint($mq-break-lg_tab) {
	$zen-column-count: 10;
	$zen-gutter-width: 3em;

	.content {
		width: 94%;
		max-width: 94%; 
	}
	
	.siteinfo {
			@include zen-float();
			@include zen-grid-item(4, 1); 
	}
	.header-region {
			@include zen-float();
			@include zen-grid-item(6, 5); 
			clear: none;
	}

	.page > nav {
		@include zen-grid-item(10, 1); 
		//height: $nav-height;
	}
	
	
}/*/mediaquery*/

/* Main desktop view */
@include breakpoint($mq-break-desk) {
	$zen-column-count: 12;
	$zen-gutter-width: 3em;

	.content {
		width: 90%;
		max-width: 64em; 
	}

	.siteinfo {
			@include zen-float();
			@include zen-grid-item(3, 1); 
	}
	.header-region {
			@include zen-float();
			@include zen-grid-item(9, 4); 
	}

	.page > nav {
		@include zen-grid-item(12, 1); 
		//height: $nav-height;
	}
	
	
}/*/mediaquery*/

/******* /LAYOUT *********/
