


/******** LAYOUT *********/
/* styles for main page sections */

$zen-column-count: 12;
$zen-gutter-width: 1.5em;

.content {
	@include zen-grid-container; 
	max-width: 100%; 
	margin: 0 auto;
}

header {
	@include zen-clear(); // Apply this mixin to start a new row. 
	//padding-top: 1em;
}

.siteinfo {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(12, 1); 
}

.header-region {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
}

.page > nav {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(12, 1); 
}

.page > footer {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(12, 1); 
	padding-top: .5em;
	padding-bottom: .5em;
}


/* Phone horizontal / small tablet view */
@include breakpoint($mq-s-tab) {

	.content {
		width: 98%;
		max-width: 98%; 
	}

	

}/*/mediaquery*/

/* Larger tablet view */
@include breakpoint($mq-l-tab) {

	.content {
		width: 94%;
		max-width: 94%; 
	}
	
	
	
}/*/mediaquery*/

/* Main desktop view */
@include breakpoint($mq-desk) {

	.content {
		width: 90%;
		max-width: 64em; 
	}

	
	
}/*/mediaquery*/

/******* /LAYOUT *********/
