
@import "base";              // Add the base partial that contains our main variables.

@import "layout";  

/******** HELPERS ********/

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}


/* end update for semantics */


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 175, ../sass/h5bp_main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../sass/h5bp_main.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 189, ../sass/h5bp_main.scss */
.clearfix {
  *zoom: 1;
}

/* useful resets from HTML5 BoilerPlate */

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/h5bp_main.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/h5bp_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/h5bp_main.scss */
textarea {
  resize: vertical;
}


/******* /HELPERS ********/

/******** DESIGN *********/
/* styles for overall design */
.orange {
	color: $color-orange;
}

.white {
	color: #fff;
}

.turquoise {
	color: $color-turquoise;
}

.strong {
	font-family: $sans-serif-bold;
	font-weight: normal;
}

body {
	background: $color-gray-lt url(../images/background_1x.png);
}
/******* /DESIGN *********/




/******** MODULE *********/
/* styles for modular content sections, including alternate states */

/*****  HEADER Styles *****/

body > header {
	padding: 2em 0;	
}

.fliparoo {
	width: 6 * zen-unit-width(); 
	float: left;
	background-image: url(../images/fliparoo.png);
	background-image: url(../images/fliparoo.svg), none;
	background-size: 100%;
	background-repeat: no-repeat;
		@include breakpoint($mq-s-tab) {
			width: 3.5 * zen-unit-width(); 
		}
		@include breakpoint($mq-l-tab) {
			width: 2.5 * zen-unit-width(); 
		}
		@include breakpoint($mq-desk) { 
			width: 2.5 * zen-unit-width();
		}
}

.menu.main {
	float: right; 
	margin: 0;
	li {
		display: inline-block; 
		*display: inline; 
		*zoom: 1;
		ul {
			@include breakpoint($mq-l-tab) {
				display: none; 
			}
		}
	}
	a {
		font-family: $sans-serif-bold; 
		font-weight: normal; 
		display: block; 
		padding: 0.5em 1em;
		&:link, &:visited {
			color: $color-orange;
		}
		&:hover, &:active {
			color: lighten($color-orange, 10%);
			text-decoration: underline;
			background-color: transparent;
		}
		&.download {
			@include border-radius(2em);
			&:link, &:visited {
				color: #fff; 
				background-color: $color-orange;
			}
			&:hover, &:active {
				background-color: lighten($color-orange, 10%);
				text-decoration: none;
			}
		}
	}
	
}
/***** /HEADER Styles *****/

/*****  SECTION-ONE Styles *****/
.section-one {
	background-color: transparent; 
	h1 {
		@include breakpoint($mq-s-tab) {
			@include zen-clear();
			@include zen-grid-item(10, 2); 
		}
		@include breakpoint($mq-l-tab) {
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		}
		@include breakpoint($mq-desk) { 
			padding: 0.5em 0 1.5em 0;
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		}
	}
	.demo-intro { 
		@include zen-clear();
		@include breakpoint($mq-s-tab) {
			@include zen-clear();
		}
		@include breakpoint($mq-l-tab) {
			@include zen-clear();
			@include zen-grid-item(10, 2); 
		}
		@include breakpoint($mq-desk) { 
			@include zen-clear();
			@include zen-grid-item(10, 2); 
		}
	}
}
.intro-copy { 
	background-color: $color-gray-med; 
	border-left: solid 10px $color-gray-med2; 
	border-right: solid 10px $color-gray-med2; 
	border-bottom: solid 10px $color-gray-med2; 
	padding: 2em;
	@include zen-clear();
	p {
		text-align: center;
		@include breakpoint($mq-desk) { 
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		} 
	}
	.links {
		@include zen-clear();
	}
}
.code-sample { 
	margin-top: 3em;
	margin-bottom: -6em; 
	@include zen-clear();
	@include breakpoint($mq-s-tab) {
		@include zen-clear();
		@include zen-grid-item(8, 3); 
	}
	@include breakpoint($mq-l-tab) {
		@include zen-clear();
		@include zen-grid-item(8, 3); 
	}
	@include breakpoint($mq-desk) { 
		@include zen-clear();
		@include zen-grid-item(6, 4); 
	}
	pre {
		border: solid 8px $color-turquoise-darker; 
		@include border-radius(0);
	}
}

/***** /SECTION-ONE Styles *****/

/*****  SECTION-TWO Styles *****/
.section-two {
	background-color: $color-turquoise-darker;
	color: #fff; 
	padding-top: 6em;
	h2 {
		color: #fff;
		@include zen-clear();
		@include breakpoint($mq-s-tab) {
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		}
		@include breakpoint($mq-l-tab) {
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		}
		@include breakpoint($mq-desk) { 
			@include zen-clear();
			@include zen-grid-item(8, 3); 
		}
	}
	.tab-set {
		@include zen-clear();
	}
}

/***** /SECTION-TWO Styles *****/

/*****  SECTION-THREE Styles *****/
.section-three {
	background-color: transparent; 
	position: relative;  
	h3 { 
		color: $color-turquoise-darker;
	}
}
.half {
	width: 50%; 
	margin-top: 4em; 
	margin-bottom: 4em; 
	position: relative; 
	height: 100%; 
	&.left {
		padding-right: 1.5em; 
		float: left;
	}
	&.right {
		padding-left: 1.5em; 
		float: right;
	} 
	ul {
		background-color: #fff; 
		border: solid 10px $color-gray-med;
		min-height: 10em; 
		padding: 1em 2em;
	}
}
/***** /SECTION-THREE Styles *****/

/*****  SECTION-FOUR Styles *****/
.section-four {
	background-color: $color-gray-med; 
	.section-title {
		border-bottom: solid 2px $color-gray-med2;
	}
	.usage-notes-menu {
		@include breakpoint($mq-s-tab) {
			@include zen-float();
			@include zen-grid-item(3, 1); 
		}
		@include breakpoint($mq-l-tab) {
			@include zen-float();
			@include zen-grid-item(3, 1); 
		}
		@include breakpoint($mq-desk) { 
			@include zen-float();
			@include zen-grid-item(3, 1); 
		}
	}
	.usage-notes {
		list-style: none;
		list-style-image: none;
		margin: 0; 
		padding: 0;
		li {
			list-style: none; 
			list-style-image: none;
		}
		a:link, a:visited {
			padding: 0.5em 1em;
			@include border-radius(0 2em 2em 0); 
			display: block;
		}
		a:hover, a:active {
			text-decoration: none; 
			color: #fff; 
			background-color: $color-green;
		}		
	}
	.usage { 
		@include breakpoint($mq-s-tab) {
			@include zen-float();
			@include zen-grid-item(9, 4); 
		}
		@include breakpoint($mq-l-tab) {
			@include zen-float();
			@include zen-grid-item(9, 4); 
		}
		@include breakpoint($mq-desk) { 
			@include zen-float();
			@include zen-grid-item(9, 4); 
		}
		> h2:first-child {
			margin-top: 0;
		}
		h2, h3, h4 {
			text-align: left;
		}
		h2 { 
			font-size: (32 / $base-font-size) * 1em; 
			font-family: $sans-serif; 
			font-weight: normal;
		}
		h3 { 
			font-size: (21 / $base-font-size) * 1em; 
		}
	}
}

/***** /SECTION-FOUR Styles *****/

/*****  FOOTER Styles *****/
body > footer {
	background-color: $color-orange; 
	@include zen-clear();
	h2 {
		color: #fff;
		margin-bottom: 0;
	}
}
.footer-row2 {
	background-color: $color-orange-darker;
	padding-top: 2em; 
	padding-bottom: 1em;
}
.lullabot {
	width: 2 * zen-unit-width(); 
	background-image: url(../images/lullabot.png);
	background-image: url(../images/lullabot.svg), none;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: -0.5em; 
	a {
		display: block;
		&:hover {
			background-color: transparent;
		}
	}
}
.tagline {
	color: #fff;
}
/***** /FOOTER Styles *****/

/*****  CODE SAMPLE Styles *****/
pre {
	background-color: #fff; 
	color: $color-gray;
	padding: 1.5em;
	border: solid 3px $color-gray-med2;
	@include border-radius(0.5em);
}

/***** /CODE SAMPLE Styles *****/

.links { 
	//border: solid 10px $color-gray-med2;
	//@include border-radius(2em); 
	margin: 1em auto;
	text-align: center;
	li {
		display: inline-block; 
		*display: inline; 
		*zoom: 1;
		text-align: center;
	}
	a {
		display: block; 
		padding: 0.5em 1.25em;
		background-color: $color-orange; 
		color: #fff; 
		line-height: 2em;
		font-family: $sans-serif-bold;
		margin-left: -5px; 
		border-top: solid 10px $color-gray-med2;
		border-bottom: solid 10px $color-gray-med2;
		&:link, &:visited {
			color: #fff;

		}
		&:hover {
			background-color: lighten($color-orange, 10%);
		}
		.icon {
			color: $color-orange-darker;
			margin-right: 0.5em; 
			font-size: 1.5em;
			line-height: 0.5em;
		}
		&.download { 
			background-color: $color-turquoise;
			border-left: 10px solid $color-gray-med2;
			@include border-radius(2em 0 0 2em);
			&:hover {
				background-color: lighten($color-turquoise, 10%);
			}
			.icon {
				color: $color-turquoise-darker;
				margin-right: 0.5em;
				margin-bottom: -0.5em;
			}
		}
		&.github { 
			background-color: $color-green;
			border-right: 10px solid $color-gray-med2;
			@include border-radius(0 2em 2em 0);
			&:hover {
				background-color: lighten($color-green, 10%);
			}
			.icon {
				color: $color-green-darker;
				margin-right: 0.5em;
			}
		}
		body > footer &, 
		body > footer &.github, 
		body > footer &.download {
			border-color: $color-orange-darker;
		}
	}
	body > footer & {
		margin-top: 0; 
		margin-bottom: 3em;
	}
}

/* Fliparoo styles */

.fliparoo-display-container {
  -webkit-transform-style: preserve-3d; /* Safari and Chrome */
  transform-style: preserve-3d;
  position: relative;
}

.fliparoo-display {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.fliparoo-front {
  z-index: 2;
  position: relative;
}

.fliparoo-back {
  z-index: 0;
  position: absolute;
}

.fliparoo-animating {
  z-index: 100;
}

/*
 * Convenience style to hide queue
 */
.fliparoo-queue {
  display: none;
}

/* examples styles */
.example {
	.display {
		font-size: 8em;
		color: grey;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			float: left;
			width: 25%;
			min-width: 25%;
			text-align: center;
		}
	}
	.hidden {
	  display: none;
	}
	pre {
		white-space: pre-wrap;
		clear: both;
	}
	.fliparoo-display {
		background-color: #fff;
		border: 1px solid #CCC;
	}	
}

.single {
	li {
		display: block;
		float: left;
		width: 20%;
		text-align: center;
		.fliparoo-display {
			color: #fff;
			background-color: #666;
			border: 2px #CCC solid;
			box-sizing: border-box;
		}
	}
}

/******* /MODULE *********/



/* Make sure this is last - helps correct for an orientation scale bug in iOS */

@media screen and (orientation:landscape) and (device-width:320px) and (device-height: 480px) {
	body {
		width: 480px;
	}
}/*/mediaquery*/

