ul.stockpile {
  display: none;
}

body {
  font-size: 8em;
  color: grey;
  margin: 0;
}

ul {
  margin: .5em 0 0 0;
  padding: 0;
  list-style: none;
}

li {
  display: block;
  float: left;
  width: 25%;
  min-width: 25%;
  text-align: center;
  margin: -1px;
  border: 1px solid #CCC;
  position: relative;
  box-sizing: border-box;
}
