body {
  margin: 0;
}

h3 {
  margin: 1em 0 0 0;
}

ul {
  font-size: 8em;
  color: grey;
  margin: 0 0 .5em 0;
  padding: 0;
  list-style: none;
}

ul.stockpile {
  display: none;
}

ul.display {
}

ul.display li {
  display: block;
  float: left;
  width: 25%;
  min-width: 25%;
  text-align: center;
  /*position: relative;
  box-sizing: border-box;*/
}

ul.display li .fliperoo-display {
  background-color: #fff;
  border: 1px solid #CCC;
}

ul.single li {
  display: block;
  float: left;
  width: 20%;
  text-align: center;
}

ul.single li .fliperoo-display {
  color: #fff;
  background-color: #666;
  border: 2px #CCC solid;
  box-sizing: border-box;
}

ul#kittens li {
  display: block;
  float: left;
}

ul#kittens li .fliperoo-display {
  height: 160px;
  overflow: hidden;
}
